{% extends template.self %}

{% block body %}
    {{ super() }}
    <script type="text/javascript">
    /*var loc = window.location.href+'';
    if (loc.indexOf('http://') > -1 && window.location.host.indexOf('framasoft.') > -1){
        window.location.href = loc.replace('framasoft.frama.io/docs','docs.framasoft.org').replace('http://','https://');
    }*/
    var l$ = {
      js: {
        j$: 'noConflict',
        video : true,
        ext: function() {
            setInterval(function() {
                if(jQuery('#framacode-list').html() == '') {
                    var cols = [
                        ["libre","key","dvd","pack","blog","book","bookin","tube",
                         "zic","agora","evl","dio"],
                        // Ordre alphabétique pour tout ce qui est en vert
                        ["agenda","bag","bee","bin","board","calc","carte","date","drive",
                         "drop","forms","games","git","link","listes","maestro"],
                        ["memo","mindmap","minetest","news","notes","pad","petitions",
                         "piaf","pic","slides","sphere","talk","team","vectoriel","vox"]
                    ];

                    var partList = [
                        '<div class="col-sm-6"><table class="table table-bordered" role="presentation">',
                        '',
                        '<div class="col-sm-6"><table class="table table-bordered" role="presentation">'
                    ];
                    var projetId = [];

                    cols.forEach(function(col, index) {
                        col.forEach(function(projet) {
                            var fc = 'orange';
                            switch (d$.f[projet].c)   {
                                case 'r': fc = 'rouge';  break;
                                case 'b': fc = 'bleu';   break;
                                case 'v': fc = 'vert';   break;
                                case 'j': fc = 'jaune';  break;
                                case 'o': fc = 'orange'; break;
                            }
                            if(projet == "evl" || projet == "agora") {
                                fc = 'jaune';
                            }

                            pid = d$.f[projet].p.toLowerCase()+d$.f[projet].s.replace('è','e'); // pid = "frama"+"libre"
                            projetId.push(pid);

                            if(d$.f[projet].git || d$.f[projet].soft) {
                                partList[index] += '<tr><td><i class="fa fa-fw fa-lg '+d$.f[projet].i+'"></i>&nbsp;<b class="violet">'+d$.f[projet].p+'</b><b class="'+fc+'">'+d$.f[projet].s+'</b>';
                              if(d$.f[projet].git) {
                                partList[index] += ' <a href="'+d$.f[projet].git+'/issues" class="pull-right"><i class="fa fa-fw fa-lg fa-git" aria-hidden="true"></i><span class="sr-only">git</span></a></td>';
                              }
                              if(d$.f[projet].soft) {
                                partList[index] += ' </td><td>'+d$.f[projet].soft+' <a href="'+d$.f[projet].src+'" class="pull-right"><i class="fa fa-fw fa-lg fa-code-fork" aria-hidden="true"></i><span class="sr-only">source</span></a></td></tr>';
                              } else {
                                partList[index] += ' </td><td></td></tr>';
                              }
                            }
                        })
                    })

                    partList[1] += '</table></div>'; partList[2] += '</table></div>';

                    jQuery('#framacode-list').html('<div class="row">'+partList[0]+partList[1]+partList[2]+'</div>');
                }
            }, 500)
        }
      },
      mute: true,
      footer: false
    }
    var script = document.createElement('script');
        script.type = "text/javascript";
        script.src="https://framasoft.org/nav/nav.js";
        document.getElementsByTagName('head')[0].appendChild(script);
    </script>
{% endblock %}
